html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

body {
    background: url("imagenes/fondo.jpeg") no-repeat center fixed;
    background-size: cover;
}



/*Clase Boton*/

.button {
    border-radius: 8px;
    background-color: #f8511e;
    border: white;
    color: #FFFFAF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 8px;
    position: 200;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: static;
    transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: relative;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 5px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


/*https://www.youtube.com/watch?v=X4MOLgIobs0*/